html {
    height: 100%;
    width:100%;
}
.header{
    font-size: 120px;
    text-align:center;
    font-family: 'Lobster', cursive;
    color:lightblue;
}
body {
    width: 100%;
    background-repeat: no-repeat;
    background-image: URL("https://images.pexels.com/photos/531880/pexels-photo-531880.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
    background-size: 200% 200%;
}
a {
    text-decoration: none;
    color:Blue;
    font-family: Helvetica, sans-serif;
}

.main {
    height: 1000px;
    width:1000px;
    background-image: URL("https://cdn2us.denofgeek.com/sites/denofgeekus/files/styles/main_wide/public/2017/10/riverdale-season-2-release-date.jpg?itok=WS-fR5NP");
    background-repeat: no-repeat;
    background-size:100%;
    margin-left: auto;
    margin-right: auto;
}
.social-image{
    width: 30px;
    margin: 15px;
}
.navbar{
    display:flex;
    justify-content: space-around;
    background-color:#e0ffff;
    padding-top: 15px;
    padding-bottom: 15px;
}

.leftPane {
    height:100%;
    width:50%;
    font-size:20px; 
    background-color: white;
    
}
.rightPane {
    background-image:url("https://i.pinimg.com/originals/3d/47/4b/3d474b5d03efc96ec515593073e78bad.jpg");
   width:50%;
   height:10000px;
    background-repeat: no-repeat;
}
.aboutMain{
    display:flex;
    width: 100%;
    height:100%;
}
.gallery{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.thumbnail-image {
    max-height: 500px;
    MAX-width: 450px;
    margin: 50px;
    border: solid #8e7932;
}
.footer{
    display: flex;
    justify-content: space-around;
    font-size: 20px;
}